html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  padding-left:18px;
  padding-right: 18px;
  
  gap: clamp(18px, 2vw, 22px);
  
  /* 그리드 열을 유연하게 설정 'repeat(auto-fit, ...)'으로 열의 개수를 해상도에 맞춰 자동으로 조절*/
  grid-template-columns: repeat(auto-fit, minmax(56px, 1fr)); 
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}

/* 네비 바 스타일
----------------------------------------------------------------------------------------------- */
.glass-card {
  grid-column: 1 / span 5;
  height: 70px;
  padding: 10px 30px;
  border-radius:35px; /* 모서리 둥글게 */

  /* 가운데 정렬 (선택 사항) */
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-family: Pretendard;
  color: rgb(0, 0, 0); /* 텍스트 색상 */
}

a:link {
  color: #ffffff; /* 방문하지 않은 링크: 파란색 */
}

a:visited {
  color: rgb(255, 255, 255); /* 방문한 링크: 회색 */
}

a:hover {
  color: #ffc107; /* 마우스를 올렸을 때: 노란색 */
}

a:active {
  color: #9135dc; /* 클릭하는 순간: 빨간색 */
}

/*전체 박스 글래스 스타일
----------------------------------------------------------------------------------------------- */
div {
  border-radius: 15px;

  /* 핵심 글래스모피즘 속성 */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.no-glass{
  grid-column: 1 / span 3;
  grid-row: span 2;
  background-color: transparent; /* 배경색을 투명하게 만듭니다. */
  backdrop-filter: none; /* 블러(흐림) 효과를 제거합니다. */
  border: none; /* 테두리를 없앱니다. */
  box-shadow: none; /* 그림자를 제거합니다. */
}

/*홈페이지 링크
----------------------------------------------------------------------------------------------- */
.ex1{
  grid-column: 1 / span 5;
}

.ex2{
  grid-column: 1 / span 3;
  grid-row: span 2;
}

.ex3{
  grid-column: 4 / span 2;
}

.ex4{
  grid-column: 4 / span 2;
}

